# Keep the distribution lean: setuptools already carries the package, README,
# and LICENSE. Release metadata belongs with it; tests and evidence capsules
# remain versioned in the repository, where their full context lives.
include CHANGELOG.md
include CITATION.cff
prune tests
prune benchmarks
prune report
